[common]
CONFIG_LOG_BUF_SHIFT=20
###-> mellanox_common-start
###-> mellanox_common-end

[amd64]
CONFIG_SATA_MOBILE_LPM_POLICY=1

# For Arista
CONFIG_I2C_MUX_PCA9541=m
CONFIG_SENSORS_MAX6697=m
CONFIG_SENSORS_DPS1900=m
CONFIG_PCI_REASSIGN_PREF_MEM=y
# For cig-cs6436
CONFIG_SERIAL_8250_LPSS=m
# SFF_8436
CONFIG_EEPROM_SFF_8436=m
# For Dell S6000
CONFIG_SENSORS_MAX6620=m
CONFIG_PMBUS=m
CONFIG_SENSORS_PMBUS=m
CONFIG_SENSORS_DNI_DPS460=m
CONFIG_I2C_MUX_GPIO=m
CONFIG_GPIO_SYSFS=y
CONFIG_GPIO_SCH=m
# For Dell Z9100
CONFIG_I2C_MUX_PCA954x=m
# For Ingrasys S9100
CONFIG_I2C_GPIO=m
CONFIG_GPIO_PCA953X=m
# For Inventec d7032
CONFIG_GPIO_ICH=m
# For mitac ly1200
CONFIG_SENSORS_MAX31790=m
# For optoe
CONFIG_EEPROM_OPTOE=m

###-> mellanox_amd64-start
CONFIG_OF=y
CONFIG_THERMAL_OF=y
CONFIG_CPU_THERMAL=y
CONFIG_PINCTRL_CANNONLAKE=m
CONFIG_PINCTRL_DENVERTON=m
CONFIG_DW_DMAC_PCI=y
CONFIG_MLXSW_CORE=m
CONFIG_MLXSW_CORE_HWMON=y
CONFIG_MLXSW_CORE_THERMAL=y
CONFIG_MLXSW_I2C=m
CONFIG_MLXSW_MINIMAL=m
CONFIG_MFD_INTEL_LPSS=y
CONFIG_MFD_INTEL_LPSS_PCI=y
CONFIG_I2C_MUX_REG=m
CONFIG_I2C_MUX_PCA954x=m
CONFIG_I2C_MUX_MLXCPLD=m
CONFIG_I2C_MLXCPLD=m
CONFIG_I2C_DESIGNWARE_PLATFORM=m
CONFIG_IOSF_MBI=y
CONFIG_I2C_DESIGNWARE_BAYTRAIL=y
CONFIG_I2C_DESIGNWARE_CORE=m
CONFIG_I2C_DESIGNWARE_PCI=m
CONFIG_IIO_SYSFS_TRIGGER=m
CONFIG_SENSORS_IIO_HWMON=m
CONFIG_SENSORS_MLXREG_FAN=m
CONFIG_SENSORS_LM25066=m
CONFIG_SENSORS_TPS53679=m
CONFIG_SENSORS_UCD9000=m
CONFIG_SENSORS_UCD9200=m
CONFIG_SENSORS_XDPE122=m
CONFIG_SENSORS_MP2888=m
CONFIG_SENSORS_MP2975=m
CONFIG_SENSORS_TMP421=m
CONFIG_SENSORS_STTS751=m
CONFIG_SENSORS_POWR1220=m
CONFIG_SENSORS_XDPE152=m
CONFIG_SENSORS_DRIVETEMP=m
CONFIG_TI_ADS1015=m
CONFIG_GPIO_PCA953X=m
CONFIG_SERIAL_8250_DETECT_IRQ=y
CONFIG_MLX_WDT=m
CONFIG_LEDS_MLXREG=m
CONFIG_MLX_PLATFORM=m
CONFIG_MELLANOX_PLATFORM=y
CONFIG_MLXREG_HOTPLUG=m
CONFIG_MLXREG_IO=m
CONFIG_MAX1363=m
CONFIG_THERMAL_NETLINK=y
CONFIG_THERMAL_STATISTICS=n
CONFIG_NVSW_SN2201=m
CONFIG_TI_ADS1015=m
CONFIG_SENSORS_EMC2305=m
CONFIG_SENSORS_JC42=m
CONFIG_SENSORS_POWR1220=m
CONFIG_NET_VENDOR_MELLANOX=y
CONFIG_NET_DEVLINK=y
CONFIG_I2C=y
CONFIG_I2C_BOARDINFO=y
CONFIG_I2C_CHARDEV=m
CONFIG_I2C_MUX=m
CONFIG_REGMAP=y
CONFIG_REGMAP_I2C=m
CONFIG_SYSFS=y
CONFIG_DMI_SYSFS=y
CONFIG_GPIO_SYSFS=y
CONFIG_WATCHDOG_SYSFS=y
CONFIG_NVMEM_SYSFS=y
CONFIG_MLXREG_LC=m
CONFIG_THERMAL=y
CONFIG_THERMAL_HWMON=y
CONFIG_THERMAL_WRITABLE_TRIPS=y
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_PMBUS=m
CONFIG_SENSORS_PMBUS=m
CONFIG_HWMON=y
CONFIG_SENSORS_LM75=m
CONFIG_SENSORS_TMP102=m
CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_TIMER=m
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y
CONFIG_EEPROM_AT24=m
CONFIG_GPIOLIB=y
CONFIG_GPIO_GENERIC=m
CONFIG_GPIO_ICH=m
CONFIG_LPC_ICH=m
CONFIG_X86_PKG_TEMP_THERMAL=m
CONFIG_SENSORS_CORETEMP=m
CONFIG_INTEL_PCH_THERMAL=m
CONFIG_IGB=y
CONFIG_IGB_HWMON=y
CONFIG_INOTIFY_USER=y
CONFIG_MFD_CORE=y
CONFIG_SERIAL_8250_DW=y
CONFIG_I2C_SMBUS=m
CONFIG_I2C_I801=m
CONFIG_PINCTRL=y
CONFIG_PINCTRL_INTEL=y
CONFIG_SPI_PXA2XX=m
###-> mellanox_amd64-end

# For Cisco 8000
CONFIG_PHYLIB=m
CONFIG_GPIOLIB=y
CONFIG_OF_GPIO=y
CONFIG_OF=y
CONFIG_OF_MDIO=m
CONFIG_MDIO_BUS_MUX_GPIO=m
CONFIG_MDIO_BUS_MUX=m
CONFIG_REGMAP_MMIO=y
CONFIG_ARCH_NR_GPIO=10240
CONFIG_TI_TLC4541=m
CONFIG_SENSORS_LTC2978=m
CONFIG_SENSORS_LTC2945=m
CONFIG_SENSORS_TPS40422=m
CONFIG_SPI_INTEL_SPI_PLATFORM=m
CONFIG_SPI_INTEL_SPI=m

[arm64]
# For Marvell
CONFIG_EEPROM_SFF_8436=m
CONFIG_EEPROM_OPTOE=m
CONFIG_I2C_MUX_GPIO=m
CONFIG_MTD_RAW_NAND=m
CONFIG_MTD_NAND_ECC_SW_BCH=y
CONFIG_MTD_NAND_MARVELL=m
CONFIG_SENSORS_EMC2305=m

[marvell-arm64]
CONFIG_MARVELL_AC5_WATCHDOG=m

[armhf]
CONFIG_EEPROM_SFF_8436=m
CONFIG_EEPROM_OPTOE=m
CONFIG_I2C_MUX_GPIO=m

[marvell-armhf]
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_MTD_OF_PARTS=y

[mellanox-arm64]
