[common]

[amd64]
# For Arista
CONFIG_I2C_MUX_PCA9541=m
CONFIG_SENSORS_MAX6697=m
CONFIG_SENSORS_DPS1900=m
CONFIG_PCI_REASSIGN_PREF_MEM=y
# For cig-cs6436
CONFIG_SERIAL_8250_LPSS=m
# SFF_8436
CONFIG_EEPROM_SFF_8436=m
# For Dell S6000
CONFIG_SENSORS_MAX6620=m
CONFIG_PMBUS=m
CONFIG_SENSORS_PMBUS=m
CONFIG_SENSORS_DNI_DPS460=m
CONFIG_I2C_MUX_GPIO=m
CONFIG_GPIO_SYSFS=y
CONFIG_GPIO_SCH=m
# For Dell Z9100
CONFIG_I2C_MUX_PCA954x=m
# For Ingrasys S9100
CONFIG_I2C_GPIO=m
CONFIG_GPIO_PCA953X=m
# For Inventec d7032
CONFIG_GPIO_ICH=m
# For mitac ly1200
CONFIG_SENSORS_MAX31790=m
# For optoe
CONFIG_EEPROM_OPTOE=m
# For Mellanox
CONFIG_OF=y
CONFIG_CPU_THERMAL=y
CONFIG_DW_DMAC_PCI=y
CONFIG_IIO_SYSFS_TRIGGER=m
CONFIG_NET_DEVLINK=y
CONFIG_MLXSW_CORE=m
CONFIG_MLXSW_CORE_HWMON=y
CONFIG_MLXSW_CORE_THERMAL=y
CONFIG_MLXSW_CORE_QSFP=y
CONFIG_MLXSW_I2C=m
CONFIG_MLXSW_MINIMAL=m
CONFIG_I2C_MUX_REG=m
CONFIG_I2C_MUX_MLXCPLD=m
CONFIG_I2C_MLXCPLD=m
CONFIG_SENSORS_IIO_HWMON=m
CONFIG_SENSORS_MLXREG_FAN=m
CONFIG_SENSORS_LM25066=m
CONFIG_SENSORS_TPS53679=m
CONFIG_SENSORS_UCD9000=m
CONFIG_SENSORS_UCD9200=m
CONFIG_SENSORS_XDPE122=m
CONFIG_SENSORS_MP2975=m
CONFIG_SENSORS_STTS751=m
CONFIG_SENSORS_MP2888=m
CONFIG_SENSORS_POWR1220=m
CONFIG_MLX_WDT=y
CONFIG_LEDS_MLXREG=m
CONFIG_MLX_PLATFORM=m
CONFIG_MELLANOX_PLATFORM=y
CONFIG_MLXREG_HOTPLUG=m
CONFIG_MLXREG_IO=m
CONFIG_MAX1363=m
CONFIG_THERMAL_STATISTICS=n
CONFIG_MFD_CORE=y
CONFIG_MFD_INTEL_LPSS_PCI=y
CONFIG_MFD_INTEL_LPSS=y
CONFIG_SERIAL_8250_DETECT_IRQ=y


[arm64]

[armhf]
CONFIG_EEPROM_SFF_8436=m
CONFIG_EEPROM_OPTOE=m
CONFIG_I2C_MUX_GPIO=m

[marvell-armhf]
CONFIG_ARCH_NR_GPIO=0
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_MTD_OF_PARTS=y
